body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
}
section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#szukajka {background-color: #555;
width: 320px;}

main {
    width: 70%;
    margin: 0 auto;
}