body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
}
section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#szukajka {background-color: #555;
width: 320px;}

main {
    width: 70%;
    margin: 0 auto;
}
.search-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .szukanie {
    background-color: #007bff; /* Blue color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white; /* Text color */
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .szukanie:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }
  
  .szukanie img {
    width: 20px; 
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin-right: 5px; /* Add some space between the icon and text */
  }
  